


/*.my-scroll-box {
    margin-top: 20px;
    max-height: 600px;
    overflow-y: scroll;
    border: 1px solid black;
    padding: 10px;
}

.my-button {
    margin: 10px;
}


.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  
  .div1,.div2 {
    display: flex;
  }
  
  
  
  @media (min-width: 768px) {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
}
  */